#whole-screen-box {
	position: relative;
	transform-style: preserve-3d;
}

body {
	background-color: white;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	perspective: 10em;
	perspective-origin: 50% calc(50% - 2);
	overflow: hidden;
}

.game-room-wall {
	position: absolute;
	background-color: #e9e9e9;
	width: 20em;
	height: 20em;
	top: -16em;
	left: -10em;
	transform: translateZ(-10em);
}
#game-room-left-wall {
	left: -20em;
	transform: rotateY(-90deg);
}

#game-room-right-wall {
	transform: rotateY(90deg);
	left: 0;
}
