body {
	height: 100vh;
	width: 100vw;
	display: flex;
	overflow: hidden;
}

.bigBox {
	height: 100vh;
	width: 100vw;
}

#lastPuzzleWall {
	width: 100%;
	height: auto;
}

.needsBorder {
	border: solid 1px black;
}

.doubleWallBox {
	height: 60%;
	width: 50%;
	display: flex;
}
