.hallContainer {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.hallWayContainer {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.doorContainers {
	display: flex;
	position: absolute;
	height: 50%;
	width: 100%;
	justify-content: space-evenly;
}

.exitDoor {
	border: solid 1px black;
	background-color: silver;
	width: 15%;
}

.doorKnob {
	position: relative;
	width: 15%;
	height: 15%;
	margin-top: 100%;
	margin-left: 80%;
	border: solid 1px black;
}
.doorHandle {
	width: 15px;
	height: 40px;
	border: solid 1px black;
	border-radius: 100%;
	margin: 5px;
}
